.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}
.title{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5vh;
    text-decoration: underline;
    font-family: 'Cinzel Decorative', cursive;
}
.textContainer{
    width: 90vw;
    margin-top: 5vh;
    height: auto;
    padding: 2vw;  
}
.cursivText{
    font-family: cursive;
    margin-bottom: 10vh;
}